# Environment
.env

# Go Binaries
crypto-api
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Build folders
bin/
dist/

# Test coverage
*.out
coverage.out
coverage.html

# Logs
*.log
logs/
api.pid
worker.pid

# Temp
tmp/
*.tmp

# IDEs
.vscode/
.idea/
*.swp

# macOS
.DS_Store
**/.DS_Store